node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Gas reporter output (generated when REPORT_GAS=true)
gasReporterOutput.json

# Deployment files
/deployments
